<!--<div style='height:50%;width:50%;padding:2%;margin:25%;position:center'>-->
  <div class='canvas'>
    <legend for='ChartType'>Chart Type</legend>
      <select (change)="onChange($event.target.value)" name='ChartType'>
          <option *ngFor="let i of Types">{{i}}</option>
      </select>


     
  
      <div class={{ArsenicLogo}}>
        <div *ngIf="ArsenicLogo=='A';else other_content"><legend for="Arsenic" > Arsenic Logo</legend> </div>
        <ng-template #other_content></ng-template>
          <input type='checkbox' name="Arsenic" checked value='Arsenic' (change)="Arsenic($event)">
    <canvas id="canvas">{{ chart }}</canvas></div>

  <marquee>{{Quote}} </marquee>
<button (click)='popDriver()'>Remove Driver {{Drivers.length}}  </button>
<button (click)='addDriver()'>Add Driver {{Drivers.length+1}}   </button>

</div>


