h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color:rgba(212, 129, 20, 0.89);
    
}
body
{
    background-color: rgba(250, 250, 250, 0.459)
}
